# Importando dados

In [1]:
# importando libs
import pandas as pd
# Importando dados a serem utilizados
df = pd.read_excel("filmes_exibido_2009_2019.xlsx", skipfooter=21, skiprows=2, 
                   usecols=['Ano de Lançamento', 'Título da obra', 'Gênero', 
                            'Nacionalidade da obra' , 'Empresa distribuidora', 
                            'Público acumulado', 'Renda (R$) acumulada'])

# Reescrevendo DataFrame sem os dados divergentes!
df = df[df['Renda (R$) acumulada'] != 'ND']
# renomeando colunas
df.rename(columns={'Ano de Lançamento': 'Ano_de_Lançamento',
                   'Título da obra': 'Filme', 
                   'Nacionalidade da obra': 'Nacionalidade' , 
                   'Empresa distribuidora': 'Empresa_distribuidora', 
                   'Público acumulado': 'Publico_acumulado', 
                   'Renda (R$) acumulada': 'Renda_acumulada'}, inplace=True)
# Reescrevendo index
df.index = range(len(df))
# Convertendo tipos
df["Renda_acumulada"] = pd.to_numeric(df["Renda_acumulada"])
df["Publico_acumulado"] = pd.to_numeric(df["Publico_acumulado"])

* **Visualizando uma parte do df**

In [2]:
df.head()

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
0,2009,1983.. O Ano Azul,Documentário,Brasileira,Prana Filmes,2313,23001.98
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.00
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.00
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
4,2009,A Ilha da Morte,Ficção,Brasileira,Imovision,2177,23390.93

* **Verificando informações do df**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ano_de_Lançamento      4344 non-null   int64
 1   Filme                  4344 non-null   object
 2   Gênero                 4344 non-null   object
 3   Nacionalidade          4344 non-null   object
 4   Empresa_distribuidora  4344 non-null   object
 5   Publico_acumulado      4344 non-null   int64
 6   Renda_acumulada        4344 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 237.7+ KB

# Seleções em DataFrames

## Selecionando dados usando Loc

### Selecionando Linhas

In [4]:
# selecionando apenas uma linhas de acordo com o seu index 
df.loc[[10]]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
10,2009,Apenas o Fim,Ficção,Brasileira,Filmes do Estação,24693,159035.5

In [5]:
# selecionando dados com uma array
df.loc[[1,2,3]]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.0
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.0
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.3

* **Selecionando dados usando um Slice**

In [6]:
# selecionando dados da linhas 5 até a linhas 10
df.loc[5:10]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
5,2009,A Morte Inventada - Alienação Parental,Documentário,Brasileira,Caraminhola Produções Artísticas,182,886.00
6,2009,A Mulher Invisível,Ficção,Brasileira,Warner,2353646,20500361.00
7,2009,Adagio Sostenuto,Ficção,Brasileira,Pipa Produções,2107,9556.50
8,2009,"Alô, Alô, Terezinha!",Documentário,Brasileira,Imovision,26530,223512.71
9,2009,Anabazys,Documentário,Brasileira,RioFilme,842,6164.50
10,2009,Apenas o Fim,Ficção,Brasileira,Filmes do Estação,24693,159035.50

In [7]:
# selecionando de uma determinada linha té o fim do df
df.loc[20:]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
20,2009,"Cinderelas, Lobos e um Príncipe Encantado",Documentário,Brasileira,Pipa Produções,3066,12004.50
21,2009,Cine Cocoricó: As Aventuras na Cidade,Ficção,Brasileira,Moviemobz,22565,175249.03
22,2009,Contratempo - Uma Valsa da Dor,Documentário,Brasileira,Videofilmes,2045,11098.75
23,2009,Coração Vagabundo,Documentário,Brasileira,Paramount,19494,189614.00
24,2009,Corpo do Rio,Documentário,Brasileira,Pequena Central,941,2095.00
...,...,...,...,...,...,...,...
4339,2019,X-Men: Fênix Negra,Ficção,Estrangeira,Fox,3330607,54347798.00
4340,2019,Yara,Ficção,Estrangeira,Zeta Filmes,2327,25702.00
4341,2019,Yesterday,Ficção,Estrangeira,Universal,624607,12078909.00
4342,2019,Yomeddine,Ficção,Estrangeira,Imovision,2110,37318.00
4343,2019,Zumbilândia: Atire Duas Vezes,Ficção,Estrangeira,Sony,287152,4185690.00

### Selecionando Linhas e Colunas

In [8]:
# selecionando as 5 primeiras linhas apenas com as colunas 'Ano_de_Lançamento', 'Filme'.
df.loc[:5 , ['Ano_de_Lançamento', 'Filme']]

   Ano_de_Lançamento                                              Filme
0               2009                                  1983.. O Ano Azul
1               2009  23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...
2               2009                                     A Erva do Rato
3               2009                            A Festa da Menina Morta
4               2009                                    A Ilha da Morte
5               2009             A Morte Inventada - Alienação Parental

In [9]:
# selecionando linhas específicas
df.loc[[5,10,48], ['Ano_de_Lançamento', 'Filme', 'Nacionalidade']]

    Ano_de_Lançamento                                   Filme Nacionalidade
5                2009  A Morte Inventada - Alienação Parental    Brasileira
10               2009                            Apenas o Fim    Brasileira
48               2009                            No meu Lugar    Brasileira

In [10]:
# Selecioando todas as linhas e apenas algumas colunas
df.loc[:, ['Ano_de_Lançamento', 'Filme', 'Renda_acumulada']]

,Ano_de_Lançamento,Filme,Renda_acumulada
0,2009,1983.. O Ano Azul,23001.98
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,14936.00
2,2009,A Erva do Rato,31690.00
3,2009,A Festa da Menina Morta,131091.30
4,2009,A Ilha da Morte,23390.93
...,...,...,...
4339,2019,X-Men: Fênix Negra,54347798.00
4340,2019,Yara,25702.00
4341,2019,Yesterday,12078909.00
4342,2019,Yomeddine,37318.00
4343,2019,Zumbilândia: Atire Duas Vezes,4185690.00

* loc com mais de uma condição

In [11]:
# selecionando dados onde o Ano_de_Lançamento é 2010 e o genero Ficção
df.loc[(df["Ano_de_Lançamento"] == 2010) & (df["Gênero"] == "Ficção")]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
315,2010,400 contra 1 – a história do Comando Vermelho,Ficção,Brasileira,Playarte,127450,1078111.22
316,2010,5x favela – agora por nós mesmos,Ficção,Brasileira,Sony/RioFilme,160573,1365197.66
318,2010,A casa verde,Ficção,Brasileira,Accorde Audiovisuais,42954,128184.94
320,2010,A guerra dos vizinhos,Ficção,Brasileira,Polifilmes,22754,85531.45
321,2010,A suprema felicidade,Ficção,Brasileira,Paramount,219472,2121215.00
...,...,...,...,...,...,...,...
612,2010,Zona verde,Ficção,Estrangeira,Universal,85928,894376.00
613,2010,Zumbilândia,Ficção,Estrangeira,Sony,89062,749114.00
614,2010,À Moda da Casa,Ficção,Estrangeira,Pandora Filmes,12865,109191.50
615,2010,À prova de morte,Ficção,Estrangeira,Playarte,83226,833283.72
616,2010,"Índia, amor e outras delícias",Ficção,Estrangeira,Serendip,2463,19968.46

In [12]:
df.loc[df["Ano_de_Lançamento"] & (df["Gênero"] == "Ficção") & (df["Nacionalidade"] == "Brasileira") ]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.00
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
4,2009,A Ilha da Morte,Ficção,Brasileira,Imovision,2177,23390.93
6,2009,A Mulher Invisível,Ficção,Brasileira,Warner,2353646,20500361.00
7,2009,Adagio Sostenuto,Ficção,Brasileira,Pipa Produções,2107,9556.50
...,...,...,...,...,...,...,...
4065,2019,Uma Noite Não É Nada,Ficção,Brasileira,Imovision,165,2042.00
4066,2019,Uma Viagem Inesperada,Ficção,Brasileira,Boulevard Filmes,1075,14837.00
4068,2019,Vai Que Cola 2 - O Começo,Ficção,Brasileira,H2O Films,803483,11894966.00
4069,2019,Vergel,Ficção,Brasileira,Arthouse,479,5974.00
4070,2019,Vermelho Sol,Ficção,Brasileira,Vitrine Filmes,6381,53499.00

### Selecionando dados de acordo com strings

In [13]:
# selecionando dados onde a coluna 'Título da obra' contém o nome 'Festa'
df.loc[df['Filme'].str.contains('Festa')]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
70,2009,Titãs - A Vida Até Parece uma Festa,Documentário,Brasileira,Moviemobz,15211,144600.42
88,2009,A Festa do Garfield,Animação,Estrangeira,Playarte,185391,1431846.77
1231,2012,Projeto X – Uma Festa Fora de Controle,Ficção,Estrangeira,Warner,82231,796593.00
1858,2014,Festa no Céu,Animação,Estrangeira,Fox,1058451,13048294.00
2363,2015,"Música, Amigos e Festa",Ficção,Estrangeira,Diamond Films,2350,32443.35
2778,2016,Festa da Salsicha,Animação,Estrangeira,Sony,138036,1877987.32
3604,2018,Tudo Acaba Em Festa,Ficção,Brasileira,Paris,30562,462133.00
3630,2018,A Festa,Ficção,Estrangeira,Mares Filmes/A2 Filmes,47225,819540.00
3899,2018,Viva - A Vida É Uma Festa,Animação,Estrangeira,Disney,1970059,30409949.00

In [14]:
"""selecionando dados onde a coluna 'Título da obra' contém o nome 'Zumbi', 
em seguida especificando as colunas que queremos ver, nesse caso 'Ano de Lançamento' e 'Título da obra'"""

df.loc[df['Filme'].str.contains('Zumbi')][['Ano_de_Lançamento', 'Filme']]

      Ano_de_Lançamento                              Filme
613                2010                        Zumbilândia
2272               2015  Como Sobreviver a um Ataque Zumbi
2798               2016                      Invasão Zumbi
2892               2016     Orgulho e Preconceito e Zumbis
4343               2019      Zumbilândia: Atire Duas Vezes

## Selecionando dados usando iLoc

* iloc Retorna a seleção a partir dos index númericos

In [15]:
# Retorna apenas o valor da linha 100 e coluna 1
df.iloc[100, 1]

'A Teta Assustada'

* Lembrando que, a seleção dessa forma retorna apenas o seu valor

* Caso queira retornar com um df, basta adicionar outro conjunto de colchetes

In [16]:
# Retorna o df da linha 100 e coluna 1
df.iloc[[100, 1]]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
100,2009,A Teta Assustada,Ficção,Estrangeira,Paris,10180,78567.1
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.0

In [17]:
# Selecionando grupos, linhas 4 e 18 e colunas 1 e 4
df.iloc[[4,18], [1,4]]

              Filme Empresa_distribuidora
4   A Ilha da Morte             Imovision
18        Budapeste                Imagem

## Selecionando dados usando método QUERY()

In [18]:
# buscando dados apenas com uma condição, onde a Publico_acumulado é maior que 10 milhões
df.query('Publico_acumulado > 10000000')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
382,2010,Tropa de elite 2,Ficção,Brasileira,Zazen,11146723,1.034612e+08
1215,2012,Os Vingadores - The Avengers,Ficção,Estrangeira,Disney,10912518,1.296069e+08
2502,2015,Vingadores: A Era de Ultron,Ficção,Estrangeira,Disney,10130740,1.462033e+08
2609,2016,Os Dez Mandamentos - O Filme,Ficção,Brasileira,Downtown/Paris,11305479,1.168330e+08
3531,2018,Nada A Perder,Ficção,Brasileira,Downtown/Paris,12184373,1.209928e+08
3895,2018,Vingadores: Guerra Infinita,Ficção,Estrangeira,Disney,14502151,2.380299e+08
4255,2019,O Rei Leão,Ficção,Estrangeira,Disney,16242804,2.657870e+08
4332,2019,Vingadores: Ultimato,Ficção,Estrangeira,Disney,19656467,3.386249e+08

* query com mais de uma condição
* podemos usar o & ou and

In [19]:
# Seleionando dados com duas condições, onde a Ano_de_Lançamento é 2019 e o Gênero Ficção. 
df.query('Ano_de_Lançamento == 2014 & Gênero == "Ficção" ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
1667,2014,A Balada do Provisório,Ficção,Brasileira,Maria Gorda Filmes,20,150.00
1668,2014,A Casa Elétrica,Ficção,Brasileira,Panda Filmes,351,2752.35
1670,2014,A Grande Vitória,Ficção,Brasileira,Downtown/Paris,26550,310608.29
1672,2014,A Noite da Virada,Ficção,Brasileira,Downtown/Paris,348293,4148146.83
1673,2014,A Oeste do Fim do Mundo,Ficção,Brasileira,Espaço Filmes,4780,58339.37
...,...,...,...,...,...,...,...
2052,2014,"Winter, O Golfinho 2",Ficção,Estrangeira,Warner,58030,673649.00
2053,2014,X-Men: Dias de um Futuro Esquecido,Ficção,Estrangeira,Fox,4923664,64417536.00
2054,2014,Yves Saint Laurent,Ficção,Estrangeira,Paris,44156,678485.06
2055,2014,À Procura,Ficção,Estrangeira,Imagem,4923,92108.57
2056,2014,Êxodo: Deuses e Reis,Ficção,Estrangeira,Fox,4151658,62521544.00

In [20]:
# Seleionando dados com duas condições, onde a Ano_de_Lançamento é 2019 e o Gênero Documentário e a Nacionalidade Brasileira
df.query('Ano_de_Lançamento == 2019 and Gênero == "Animação" & Nacionalidade == "Brasileira" ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
3906,2019,A Cidade Dos Piratas,Animação,Brasileira,Lança Filmes,2364,32055.0
4056,2019,Tito E Os Pássaros,Animação,Brasileira,Elo Company,15179,167126.0

In [21]:
# selecionando dados entre 2010 e 2015,  (>= 2010 e <= 2015)
df.query(' 2015 >= Ano_de_Lançamento >= 2010')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
315,2010,400 contra 1 – a história do Comando Vermelho,Ficção,Brasileira,Playarte,127450,1078111.22
316,2010,5x favela – agora por nós mesmos,Ficção,Brasileira,Sony/RioFilme,160573,1365197.66
317,2010,A alma do osso,Documentário,Brasileira,Filmes do Rio de Janeiro,453,3955.71
318,2010,A casa verde,Ficção,Brasileira,Accorde Audiovisuais,42954,128184.94
319,2010,A falta que me faz,Documentário,Brasileira,Anavilhana,387,3304.40
...,...,...,...,...,...,...,...
2507,2015,Vício Inerente,Ficção,Estrangeira,Warner,20009,328189.00
2508,2015,Whiplash - Em busca da perfeição,Ficção,Estrangeira,Sony,119028,1800194.54
2509,2015,Winter Sleep,Ficção,Estrangeira,Alpha Filmes,8309,99318.46
2510,2015,Woody Allen: Um Documentário,Documentário,Estrangeira,Bretz Filmes,8294,114972.43
2511,2015,À Beira Mar,Ficção,Estrangeira,Universal,27463,469862.52

In [22]:
# A mesma seleção acima usando loc
df.loc[(df["Ano_de_Lançamento"] >= 2010 ) & (df["Ano_de_Lançamento"] <= 2015) ]

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
315,2010,400 contra 1 – a história do Comando Vermelho,Ficção,Brasileira,Playarte,127450,1078111.22
316,2010,5x favela – agora por nós mesmos,Ficção,Brasileira,Sony/RioFilme,160573,1365197.66
317,2010,A alma do osso,Documentário,Brasileira,Filmes do Rio de Janeiro,453,3955.71
318,2010,A casa verde,Ficção,Brasileira,Accorde Audiovisuais,42954,128184.94
319,2010,A falta que me faz,Documentário,Brasileira,Anavilhana,387,3304.40
...,...,...,...,...,...,...,...
2507,2015,Vício Inerente,Ficção,Estrangeira,Warner,20009,328189.00
2508,2015,Whiplash - Em busca da perfeição,Ficção,Estrangeira,Sony,119028,1800194.54
2509,2015,Winter Sleep,Ficção,Estrangeira,Alpha Filmes,8309,99318.46
2510,2015,Woody Allen: Um Documentário,Documentário,Estrangeira,Bretz Filmes,8294,114972.43
2511,2015,À Beira Mar,Ficção,Estrangeira,Universal,27463,469862.52

* Usando o operador **OR**
  *  Que também pode ser representado por |

In [23]:
# buscando dados onde a Ano_de_Lançamento seja igual a 2019 ou a Nacionalidade seja igual a Brasileira
df.query('Ano_de_Lançamento == 2009 | Nacionalidade == "Brasileira" ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
0,2009,1983.. O Ano Azul,Documentário,Brasileira,Prana Filmes,2313,23001.98
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.00
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.00
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
4,2009,A Ilha da Morte,Ficção,Brasileira,Imovision,2177,23390.93
...,...,...,...,...,...,...,...
4066,2019,Uma Viagem Inesperada,Ficção,Brasileira,Boulevard Filmes,1075,14837.00
4067,2019,Uruguai - Na Vanguarda,Documentário,Brasileira,Urbano Filmes,464,6364.00
4068,2019,Vai Que Cola 2 - O Começo,Ficção,Brasileira,H2O Films,803483,11894966.00
4069,2019,Vergel,Ficção,Brasileira,Arthouse,479,5974.00
4070,2019,Vermelho Sol,Ficção,Brasileira,Vitrine Filmes,6381,53499.00

In [24]:
df.query('Ano_de_Lançamento == 2009 or Nacionalidade == "Brasileira" ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
0,2009,1983.. O Ano Azul,Documentário,Brasileira,Prana Filmes,2313,23001.98
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.00
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.00
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
4,2009,A Ilha da Morte,Ficção,Brasileira,Imovision,2177,23390.93
...,...,...,...,...,...,...,...
4066,2019,Uma Viagem Inesperada,Ficção,Brasileira,Boulevard Filmes,1075,14837.00
4067,2019,Uruguai - Na Vanguarda,Documentário,Brasileira,Urbano Filmes,464,6364.00
4068,2019,Vai Que Cola 2 - O Começo,Ficção,Brasileira,H2O Films,803483,11894966.00
4069,2019,Vergel,Ficção,Brasileira,Arthouse,479,5974.00
4070,2019,Vermelho Sol,Ficção,Brasileira,Vitrine Filmes,6381,53499.00

* Usando o método In

In [25]:
# Consultando filmes da Disney que foram lançados em 2009 e 2019
df.query('Ano_de_Lançamento in [2009,2019] ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
0,2009,1983.. O Ano Azul,Documentário,Brasileira,Prana Filmes,2313,23001.98
1,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox,1718,14936.00
2,2009,A Erva do Rato,Ficção,Brasileira,República Pureza,3546,31690.00
3,2009,A Festa da Menina Morta,Ficção,Brasileira,Imovision,16414,131091.30
4,2009,A Ilha da Morte,Ficção,Brasileira,Imovision,2177,23390.93
...,...,...,...,...,...,...,...
4339,2019,X-Men: Fênix Negra,Ficção,Estrangeira,Fox,3330607,54347798.00
4340,2019,Yara,Ficção,Estrangeira,Zeta Filmes,2327,25702.00
4341,2019,Yesterday,Ficção,Estrangeira,Universal,624607,12078909.00
4342,2019,Yomeddine,Ficção,Estrangeira,Imovision,2110,37318.00
4343,2019,Zumbilândia: Atire Duas Vezes,Ficção,Estrangeira,Sony,287152,4185690.00

* Query a partir de uma variável

* Método 1
    * Nesse métodos usaremos o modo f-string

In [26]:
# criando variável com todos os anos contido no df
anos = list(df['Ano_de_Lançamento'].unique())

# consultando dados de 2009 até 2019 feitos pela Disney
df.query(f'Ano_de_Lançamento in {anos} and Empresa_distribuidora == "Disney" ')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
693,2011,Qualquer gato,Ficção,Brasileira,Disney,1194628,1.074224e+07
726,2011,A hora do espanto,Ficção,Estrangeira,Disney,201583,2.691993e+06
764,2011,Carros 2,Animação,Estrangeira,Disney,3416484,3.370868e+07
797,2011,Eu sou o número quatro,Ficção,Estrangeira,Disney,606326,5.552412e+06
806,2011,Gigantes de aço,Ficção,Estrangeira,Disney,1729539,1.569208e+07
...,...,...,...,...,...,...,...
4301,2019,Star Wars: A Ascensão Skywalker,Ficção,Estrangeira,Disney,2129669,4.121389e+07
4311,2019,Toy Story 4,Animação,Estrangeira,Disney,7955544,1.244440e+08
4331,2019,Vidro,Ficção,Estrangeira,Disney,1365681,2.239151e+07
4332,2019,Vingadores: Ultimato,Ficção,Estrangeira,Disney,19656467,3.386249e+08
4338,2019,Wifi Ralph,Animação,Estrangeira,Disney,4399733,6.483821e+07

* Método 2
    * Ou podemos adicionar um @ antes da variável

In [27]:
# variável com seleção de filmes 
selecao_filmes = [ "Vingadores: Ultimato", 'Yesterday', 'Interestelar']
# selecionando filmes a partir da minha variável selecao_filmes
df.query('Filme == @selecao_filmes')

,Ano_de_Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
1886,2014,Interestelar,Ficção,Estrangeira,Warner,1216736,17293804.0
4332,2019,Vingadores: Ultimato,Ficção,Estrangeira,Disney,19656467,338624881.0
4341,2019,Yesterday,Ficção,Estrangeira,Universal,624607,12078909.0

* Query em colunas com espaço

In [28]:
# reescrevendo a coluna
df.rename(columns={'Ano_de_Lançamento': 'Ano de Lançamento'}, inplace=True)

In [29]:
# selecionando `Ano de Lançamento` igual a 2019 e apenas da Nacionalidade Estrangeira
df.query('`Ano de Lançamento` == 2009 and Nacionalidade == "Estrangeira" ')

,Ano de Lançamento,Filme,Gênero,Nacionalidade,Empresa_distribuidora,Publico_acumulado,Renda_acumulada
82,2009,2012,Ficção,Estrangeira,Sony,5279983,44728067.00
83,2009,3 Macacos,Ficção,Estrangeira,Imovision,13278,128998.84
84,2009,500 Dias com Ela,Ficção,Estrangeira,Fox,245906,2305334.00
85,2009,9 - A Salvação,Animação,Estrangeira,Playarte,121648,1018796.44
86,2009,A Era da Estupidez,Documentário,Estrangeira,Moviemobz,804,6082.50
...,...,...,...,...,...,...,...
310,2009,Vitus,Ficção,Estrangeira,Filmes da Mostra,6030,48574.80
311,2009,"Vocês, os Vivos",Ficção,Estrangeira,Filmes da Mostra,6933,58855.52
312,2009,W.,Ficção,Estrangeira,Filmes do Estação,12741,120724.60
313,2009,Watchmen - O Filme,Ficção,Estrangeira,Paramount,539796,4630370.00
314,2009,X-Men Origens: Wolverine,Ficção,Estrangeira,Fox,3199434,27352313.00

## Selecionando dados de acordo com seus tipos

In [30]:
df.rename(columns={'Ano de Lançamento': 'Ano_de_Lançamento'}, inplace=True)

In [31]:
df.dtypes

Ano_de_Lançamento          int64
Filme                     object
Gênero                    object
Nacionalidade             object
Empresa_distribuidora     object
Publico_acumulado          int64
Renda_acumulada          float64
dtype: object

In [32]:
# selecionando colunas do tipo 'object'
df.select_dtypes(include=['object'])

,Filme,Gênero,Nacionalidade,Empresa_distribuidora
0,1983.. O Ano Azul,Documentário,Brasileira,Prana Filmes
1,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,Documentário,Brasileira,Fox
2,A Erva do Rato,Ficção,Brasileira,República Pureza
3,A Festa da Menina Morta,Ficção,Brasileira,Imovision
4,A Ilha da Morte,Ficção,Brasileira,Imovision
...,...,...,...,...
4339,X-Men: Fênix Negra,Ficção,Estrangeira,Fox
4340,Yara,Ficção,Estrangeira,Zeta Filmes
4341,Yesterday,Ficção,Estrangeira,Universal
4342,Yomeddine,Ficção,Estrangeira,Imovision
4343,Zumbilândia: Atire Duas Vezes,Ficção,Estrangeira,Sony

In [33]:
# selecionando colunas do tipo 'int64'
df.select_dtypes(include=['int64'])

      Ano_de_Lançamento  Publico_acumulado
0                  2009               2313
1                  2009               1718
2                  2009               3546
3                  2009              16414
4                  2009               2177
...                 ...                ...
4339               2019            3330607
4340               2019               2327
4341               2019             624607
4342               2019               2110
4343               2019             287152

[4344 rows x 2 columns]

In [34]:
# selecionando colunas que não sejam do tipo 'object'
df.select_dtypes(exclude=['object'])

      Ano_de_Lançamento  Publico_acumulado  Renda_acumulada
0                  2009               2313         23001.98
1                  2009               1718         14936.00
2                  2009               3546         31690.00
3                  2009              16414        131091.30
4                  2009               2177         23390.93
...                 ...                ...              ...
4339               2019            3330607      54347798.00
4340               2019               2327         25702.00
4341               2019             624607      12078909.00
4342               2019               2110         37318.00
4343               2019             287152       4185690.00

[4344 rows x 3 columns]